@font-face {
  font-family: 'Gordita-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-Regular'),
    url('/fonts/Gordita-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Gordita-Light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-Light'),
    url('/fonts/Gordita-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gordita-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-Medium'),
    url('/fonts/Gordita-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gordita-Bold';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-Bold'),
    url('/fonts/Gordita-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gordita-SemiBold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-SemiBold'),
    url('/fonts/Gordita-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Gordita-Extra-Bold';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Gordita-Extra-Bold'),
    url('/fonts/Gordita-Extra-Bold.otf') format('opentype');
}
